body {
  background-color: #2f3640;
  color: aliceblue;
  font-size: 24px;
  font-family: 'Share Tech Mono', monospace;
}

header {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

header img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 360px;
  width: 360px;
  border-radius: 50%;
  filter: grayscale(100%);
}

section {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  display: block;
  text-align: center;
}

h3 {
  padding-left: 20px;
}

li a {
  color: aliceblue;
}

footer {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

footer ul {
  display: flex;
}

footer ul li {
  flex: 1;
}

footer a {
  color: aliceblue;
  text-decoration: aliceblue underline;
}

.text-wrapper {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.afrogleap {
  color: aliceblue;
}

#about-me {
  color: #DD3C32;
}

#skills {
  color: #74ee15;
}

#work-now {
  color: #4deeea;
}

#experience {
  color: #f000ff
}

@media (min-width: 320px) and (max-width: 480px) {
  body {
    font-size: 14px;
  }
  section {
    margin-bottom: 40px;
  }
  header img {
    height: 180px;
    width: 180px;
  }
  .text-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .text-wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }
}