body {
  background-color: #2f3640;
  color: aliceblue;
  font-size: 26px;
  font-family: 'Share Tech Mono', monospace;
}

header {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

header img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 360px;
  width: 360px;
  border-radius: 50%;
  filter: grayscale(100%);
}

header img:hover {
  filter: none;
  transition: filter 0.5s;
}

section {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  display: block;
  text-align: center;
}

p {
  text-align: left;
  padding-left: 20px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  padding-left: 20px;
}

footer {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

footer ul {
  display: flex;
}

footer ul li {
  flex: 1;
}

footer a {
  color: aliceblue;
  text-decoration: aliceblue underline;
}

#about-me {
  transition: color 0.5s;
  color: #DD0048;
}
